
body{
    background-color: black;
}
.card {
    width: 250px;
    margin: 0 auto;
    background-color: white;
}
.headerimage {
    width: 100%;
}
.awesomearticle {
    padding: 10%;
    text-align: center;
}